body            { font-family: 'Calibri'; background: white; }
a, h1, h2       { color: #345995; }
h1, h2          { font-family: 'Calibri', serif; margin: 0; }
h1              { border-bottom: 2px solid #03cea4; }
h2              { font-size: 1.2em; }
h3				{ color: #03cea4;}
p               { color: #465362;}
.page           { margin: 2em auto; width: 50em; border: 3px solid #345995;
                  padding: 1em; background: white; }
.page2           { margin: 2em auto; width: 35em; border: 3px solid #345995;
                  padding: 1em; background: white; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #eac435; }
.error          { background: #F0D6D6; padding: 0.5em; } 

.contact		{margin: 4em auto; width: 35em; border: 3px solid #345995; 
				 padding: 1em; background: white;}
.center			{display:block;
				 margin-left: auto;
				 margin-right: auto;}
#dropdown		{width: 500px;}
