<!doctype html>
<title>TwitterAnalyzer</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>TwitterAnalyzer</h1>
  <body>
  	<p>
  		This app will show you what people are tweeting about. It will tell you what are the hot topics for the search word you enter and whether those are possitive or negative comments. <br><br>
  		Try it!
  	</p>
    <h4>
      Enter a search word. Example: McDonalds
    </h4>
	<form id="enterqueryform" method="POST" action="show_analysis">
    	<label for="query">Search word</label><input type="text" id="query" name="query"/>
    	<input type="submit" value="Search">
	</form>

  </body>
</div>
</html>