<!doctype html>
<title>TwitterAnalyzer</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<style>
  input[type=submit]{background-color: #03cea4;
                     border: none;
                     color: white;
                     cursor: pointer;
                     padding: 3px 6px;}
</style>
<div class=page2>
  <h1>TwitterAnalyzer</h1>
  <body>
    <br>
    <img src="static/twitter_nlp.png" width="150" class="center"/>
  	<p>
  		This app will show you what people are tweeting about. It will tell you what are the hot topics for the search word you enter and whether those are possitive or negative comments. <br><br>
  		Try it!
  	</p>
    <h4>
      Enter a search word. Example: McDonalds
    </h4>
	<form id="enterqueryform" method="POST" action="analyzing">
    	<label for="query">Search word: </label><input type="text" id="query" name="query"/>
    	<input type="submit" value="Search">
	</form>
  </body>
</div>
<div class=contact>
  <h3>About author</h3>
  <body>
    <p>
      <b>Author:</b> Monica Gomez<br>
      <b>Contact info:</b> monica.daniela.gomez@gmail.com<br>
      <br>
      <b>Advisor:</b> Faraz Zaidi<br>
      <b>Contact info:</b> farazzaidi@yahoo.com
    </p>
  </body>

</div>
</html>