<!doctype html>
<title>TwitterAnalyzer</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
	<section id="resultsummary">
  		<h1>Search word: {{query}}</h1>
  		<p>
  			Number of tweets found: {{num_of_teets}} 
  		</p>
	</section>
	<section id="results">
   		<p>
  			Sorry, this app can't analyze your tweets yet, but wouldn't it be nice if it did?...
  		</p>
  	</section>
  	<section id="returnresults">
  		<form id="returnresultsform">
  			<input type="submit" id="new_search" value="New Search">
  		</form>
  	</section>


</div>
</html>