<!doctype html>
<title>TwitterAnalyzer</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<style>
  input[type=submit]{background-color: #03cea4;
                     border: none;
                     color: white;
                     cursor: pointer;
                     padding: 3px 6px;}
</style>
<div class=page>
  		<h1>Search word: {{query}}</h1>
  		<p>
  			<b>Number of tweets found:</b> {{num_of_tweets}} 
  		</p>
  		<p>
  			<h2>Popular Hashtags</h2><br>

        {{hashtags_table|safe}} <br><br>

        <img src="{{hashtags}}" width="500" class="center"/><br><br>

        <h2>Top topics</h2><br>

          {{topics_table|safe}} <br><br>

        <h2>Top words</h2><br>

        <p>Click on topic for more insights.</p>
  			<table>
          <tr>
            <td>
            <form id="selecttopic" method="POST" action="moreinsights">
              <table>
                <tr><td><input type="submit" name="insights" value="topic 1" class="topic"></td></tr>
                <tr><td><input type="submit" name="insights" value="topic 2" class="topic"></td></tr>
                <tr><td><input type="submit" name="insights" value="topic 3" class="topic"></td></tr>
                <tr><td><input type="submit" name="insights" value="topic 4" class="topic"></td></tr>
                <tr><td><input type="submit" name="insights" value="topic 5" class="topic"></td></tr>  
              </table>
                <td>
                {{topwords_table|safe}} 
                </td>  
            </form>
            </td>
          </tr>
        </table>
        <br>
  			<br>
  		</p>
      <p>
        <h2>Topic clustering</h2>
       <img src="{{clustergram}}" width="500" class="center"/>
      </p>
  		<form id="returnresultsform" method="POST" action="/">
  			<input type="submit" id="new_search" value="New Search">
  		</form>
</div>
</html>
