<!doctype html>
<title>TwitterAnalyzer</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  		<h1>Search word: {{query}}</h1>
  		<p>
  			<b>Number of tweets found:</b> {{num_of_tweets}} 
  		</p>
  		<p>
  			<h2>Top topics</h2><br>
  			<table>
          <tr>
            <td>
            <form id="selecttopic" method="POST" action="moreinsights">
              <table>
                <tr><th>More insights</th></tr>
                <tr><td><input type="submit" name="insights" value="topic1" class="topic"></td></tr>
                <tr><td><input type="submit" name="insights" value="topic2" class="topic"></td></tr>
                <tr><td><input type="submit" name="insights" value="topic3" class="topic"></td></tr>
                <tr><td><input type="submit" name="insights" value="topic4" class="topic"></td></tr>
                <tr><td><input type="submit" name="insights" value="topic5" class="topic"></td></tr>  
              </table>
            </form>
            </td>
            <td>
            {{table|safe}} 
            </td>
          </tr>
        </table>
        <br>
  			<br>
  		</p>
      <p>
        <h2>Topic clustering</h2>
        <img src="{{clustergram}}" width="500"/>
      </p>
  		<form id="returnresultsform" method="POST" action="/">
  			<input type="submit" id="new_search" value="New Search">
  		</form>
</div>
</html>